<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="form2.css">
</head>
<body>
<div>
	<nav class="navbar navbar-expand-md navbar-dark p-3" style="background-color:#262626">
		<a class="navbar-brand fs-8 h2 font-weight-bold" href="#">STUDENT MANAGEMENT
			SYSTEM</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
			data-bs-target="#TopNavbarItems" aria-controls="TopNavbarItem"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="TopNavbarItems">

			<ul class="navbar-nav ms-auto justify-content-evenly">
				<li class="nav-item me-5 pl-5"><a class="nav-link" th:href="@{/home}">Home</a>
				</li>

				<li class="nav-item dropdown pl-5">
					<a class="nav-link dropdown-toggle" href="#" id="Login" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Login </a>
					<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="Login">
                    	<li><a class="dropdown-item" href="login">Admin</a></li>
                        <li><a class="dropdown-item" href="studentlogin">Student</a></li>
                    </ul>
				</li>

			</ul>
		</div>
	</nav>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-11">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" th:action="@{/studentlogin}" th:object="${student}" action="#" method="post">
                            <h3 class="text-center text-info">Student Login</h3>
                            <div th:if="${param.error}" class="alert alert-danger">    
        						Invalid username and token.
        					</div>
        					<div th:if="${param.logout}" class="alert alert-success"> 
           						 You have been logged out.
        					</div>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" th:field="*{email}" name="username" id="username" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" th:field="*{password}" name="password" id="password" class="form-control" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Login">
                            </div>
                            <div class="form-group">
                            <a th:href="@{forgotPassword}" class="btnForgetPwd">Forget Password?</a>
                        	</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
 </div>
 <footer th:replace="footer :: foot"></footer>  
</body>
</html>